/* ================================= 
  Base Element Styles
==================================== */

* {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
	box-sizing: border-box;
	color: #222;
/*	border: 1px solid red;*/
}

ul {
	list-style: none;
}

img {
	height: 50px;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	padding: 0.5em;
}

span {
	font-size: inherit;
	font-weight: 900;
}

a {
	text-decoration: none;
}

h3 a{
	font-size: 1.5em;
	font-weight: normal;
	color: #1a73e8;
}


/* ================================= 
  Base Layout Styles
==================================== */

header,
footer,
.banner,
.products,
.other-tools,
.news,
.news-content { 
 	display: flex;
 	padding: 1.5em 1.5em;
	align-items: center;
}

.products,
.product-items,
.tool-box,
.tool-box-content,
.footer-privacy {
 	display: flex;
 	flex-direction: column;
 }

header {
	position: fixed;
	z-index: 2;
	background-color: #FFFFFF;
	width: 100%;
	box-shadow: 2px 2px 5px #888;
}

/* ===== header ===== */

.nav-menu,
.lan-menu {
	display: none;
}

.nav-button {
	height: 2.2em;
	margin: 0 2em 0 0;
}

.search {
	height: 1.8em;
	margin: 0 2em 0 0;
}

.logo-img {
	margin-right: auto;
	height: 2.5em;
}

.account {
	height: 2.3em;
	border-radius: 50%;
}

/* ===== banner ===== */

.banner {
	flex-direction: column;
	padding-top: 5em;
	border-bottom: 1px solid rgb(218, 220, 224);
}

.banner-title-img {
	width: 100%;
	height: 100%;
	max-width: 600px;
	margin: 2em 0;
}

.banner-content {
	margin: 2em 0;
	max-width: 600px;
}

.button {
	background-color: #1a73eb;
	border-radius: 0.2em;
	color: white;
	padding: 0.5em 1.5em;
}

.button:hover {
	box-shadow: 0 2px 2.5px rgb(0,0,0,0.3);
}

/* ===== section - products ====== */

.products {
	margin-bottom: 5em;
}

.product-items p {
	font-size: 1.1em;
}

.products-contents {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0.8em 0 2em 0;
}

.product-items {
	display: column;
	justify-content: space-between;
	align-items: center;
	width: 48%;
	height: 7em;
	margin: 3% 1%;
}

.android-img {
	margin: auto 0;
	height: 2.7em;
}

.other-img {
	width: 4.5em;
	height: 4.5em;
}


/* ===== section - tools ====== */

.other-tools {
	flex-wrap: wrap;
	align-items: stretch;
}

.tool-box {
	margin: 0.5em 0;
	border-radius: 0.5em;
	border: 1px solid rgba(0,0,0,0.2);
	position: relative;
	width: 100%;

}

.tool-box-content {
	padding: 1em;
	justify-content: space-between;
	height: 100%;
}

.tool-box-content p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.other-tools-button {
	background-color: #FFFFFF;
	border: 1px solid rgba(0,0,0,0.2);
	color: #1a73e8;
	margin-right: auto;
}

.other-tools-button:hover {
	box-shadow: 0 0 0 0;
	background-color: rgb(226,236,254);
	border-color: rgb(200,219,252);
}

.tool-main-img {
	position: absolute; 
    width: 12em;
    height: auto;
	top: -25%;
	right: 0;
}

/* ===== section - news ====== */

.news {
	flex-direction: column;
	background-color: #f1f3f4;
	justify-content: center;
}

.news-content {
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.news h1 {
	width: 100%;
	text-align: center;
}

.news-box {
	background-color: #ffffff;
	align-items: center;
}

.news-wrap-img {
	height: 22em;
	display: flex;
	align-items: center;
}

.news-img {
    width: 9em;
    height: auto;
}

.news-button {
	border: none;
	margin-top: auto;
}

/* ===== footer ====== */

footer {
	flex-wrap: wrap;
	border-top: 1px solid rgba(0,0,0,0.2);
}

footer a {
	display: block;
	line-height: 1.6em;
	padding: 0.5em 0;
	font-size: 0.95em;
}

footer a:hover {
	color: rgb(26, 115, 232);
}


/* ===== footer - main-footer====== */

.main-footer {
	display: flex;
	flex-wrap: wrap;
}

.main-footer h3 {
	font-size: 1.2em;
	font-weight: normal;
}

.footer-content {
	margin: 1em 0;
	width: 100%;
	padding-right: 1em;
}

/* ===== footer - sub-footer====== */

.sub-footer {
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 1.5em 0;
}


/* ===== footer - footer-privacy ====== */

.footer-privacy {
	width: 100%;
	padding: 1.5em 0;
}

.footer-lan {
	display: flex;
}

.sign-up {
	line-height: 2.6em;
	font-size: 0.95em;
	font-weight: normal;
	display: inline-block;
}


.subscribe .button {
	display: inline-block;
	margin: 0 0.8em;
}

.terms-privacy {
	display: flex;
	align-items: center;
}

.subscribe {
	padding: 0.5em 0;
	display: flex;
	align-items: center;
}

.lan-menu {
	display: inline-block;
	margin-right: auto;
	border-radius: 0.2em;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: #fff;
	color: #222;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 601px) {

	.product-items {
		width: 22%;
	}

	.tool-box,
	.news-box {
		width: 48%;
	}

	.main-footer {
		width: 100%;
	}

	.footer-content {
		width: 33%;
	}

	.other-tools,
	.footer-content {
		justify-content: space-between;
	}

	.sub-footer ul li{
		display: inline-block;
		margin-right: 1em;
		margin-top: 1em;
	}

	.footer-privacy {
		flex-direction: row;
		align-items: center;
	}

	.subscribe {
		margin-left: auto;
	}

	.sign-up {
		max-width: 14em;
		line-height: 1.6em;
	}

}


@media (min-width: 841px) {

	.news-box {
		width: 23.5%;
	}


}

