/* ================================= 
  Base Element Styles
==================================== */

* {
	font-size: 20px;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: #313E4A;
	font-weight: normal;
}

header {
	padding: 2.5em 0;
	background-color: #313E4A;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 1.25em;	
	letter-spacing: 0.5px;
	padding-bottom: 0.3em;
	color: white;
}

h3 {
	font-size: 0.85em;
	color: white;
}

h5 {
	font-size: 0.8em;
}

section {
	padding: 1.75em 20%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

input {
	margin: 2em 0 0.2em 0;
}

#numberSubmit, #submit, #nameSubmit, #nameSubmitButton{
	width: 10em;
	font-size: 0.7em;
}

#submit, #nameSubmitButton{
	width: 10.3em;
	background-color: #313E4A;
	color: white;
	border-radius: 0.2em;
	padding: 0.1em 0;
}

#submit:hover, #nameSubmitButton:hover {
	opacity: 0.9;
}

#result {
	display: none;
	position: relative;
	border: 1px solid #313E4A;
	border-radius: 0.15em;
	width: 8em;
	margin: 3em auto;
	padding: 0.3em 0;
}

#result::after {
	content: "結果為";
	position: absolute;
	left: 50%;
	top: -2.7em;
	transform: translate(-50%, 0);
	font-size: 0.4em;
	color: #313E4A;
}
